apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-web
  namespace: booking-rush
  labels:
    app: frontend-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend-web
  template:
    metadata:
      labels:
        app: frontend-web
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: frontend-web
          image: ghcr.io/nat-prohmpiriya/booking-rush/frontend-web:ca03355
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_API_URL
              value: "https://api-booking-rush.dackbox.com"
            - name: NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
              value: "pk_test_51RkK3WQpmqALEUoYsYhchFU4C7bXfTMEs6eILUW24WpXKqdtCPityhf5NODnoQCcNlniegWSr2V1ODI5eplQ4Qax00kqotwZrQ"
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-web
  namespace: booking-rush
spec:
  selector:
    app: frontend-web
  ports:
    - port: 3000
      targetPort: 3000
  type: ClusterIP
