apiVersion: apps/v1
kind: Deployment
metadata:
  name: ticket-service
  namespace: booking-rush
  labels:
    app: ticket-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ticket-service
  template:
    metadata:
      labels:
        app: ticket-service
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: ticket-service
          image: ghcr.io/nat-prohmpiriya/booking-rush/ticket-service:ad6844f
          imagePullPolicy: Always
          ports:
            - containerPort: 8082
          env:
            - name: SERVER_PORT
              value: "8082"
          envFrom:
            - configMapRef:
                name: booking-rush-config
            - secretRef:
                name: booking-rush-secrets
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /health
              port: 8082
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8082
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: ticket-service
  namespace: booking-rush
spec:
  selector:
    app: ticket-service
  ports:
    - port: 8082
      targetPort: 8082
  type: ClusterIP
