name: Build Backend API Gateway
on:
  push:
    branches: [main]        # trigger เมื่อ push ไป main
    paths:
      - 'backend-api-gateway/**'   # เฉพาะแก้ folder นี้

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          context: ./backend-api-gateway
          push: true
          tags: ghcr.io/${{ github.repository }}/backend-api-gateway:latest