name: Build Frontend

on:
  push:
    branches: [main]
    paths:
      - 'frontend-web/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          context: ./frontend-web
          push: true
          tags: ghcr.io/${{ github.repository }}/frontend:latest
